@font-face {
    font-family: 'Mona Sans';
    src:
      url('fonts/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
  
@font-face {
    font-family: 'Hubot Sans';
    src:
      url('fonts/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('fonts/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

html {
    font-family: 'Mona Sans';
}

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: rgb(10, 33, 42);
    color: white;
    text-align: center;
}

#center_container{
    max-width: 800px;
    text-align: center;
    margin: 0% auto;
}

h1 {
    /* font-weight: bold; */
    /* font-family: 'Hubot Sans'; */
    font-size: 3em;
    margin: 0;
}

h2 {
    /* font-weight: bold; */
    font-size: 2em;
    text-align: left;
}

p {
    text-align: justify;
}

.clipped {
    clip-path: circle();
}

.rounded {
    border-radius: 25px;
    margin-top: auto;
}

/* Remove underlines from links */
a {
    color: white;
    text-decoration: none;
}